<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/output.css' />
</head>

<body class="min-h-screen flex flex-col">

  <header class="bg-blue-600 text-white p-4 ">
    <div class="mx-auto flex flex-wrap items-center">
      <a href="/">
        <h1 class="text-xl font-bold flex-none p-2">QuizzApp</h1>
      </a>
    </div>
  </header>

  <main class="flex-grow bg-gray-100 p-6">
    <div class="container mx-auto">
      {{{body}}}
    </div>
  </main>

  <footer class="bg-gray-800 text-white p-4">
    <div class="container mx-auto text-center">
      <p>&copy; 2025 Moja Express Aplikacija. Sva prava su moja.</p>
    </div>
  </footer>
</body>

</html>