.ocjena_title {
    color: green;
    background-color: white;
    font-size: 1000%;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    text-align: top;
    mix-blend-mode: soft-light;
}
.background_image {
    background-position: top;
    background-repeat: no-repeat;
    background-size: 50%;
    image-rendering: optimizeQuality;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.pJBA2Sm9q17EYDEXELqrXAHaFS%26pid%3DApi&f=1&ipt=72b7f6c1a71bb0ac84f625868d88c0dfcb0de96847b8e02a516e7b93d7d20771&ipo=images);
}
.background {
    background-color: wheat;
}